
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 18rem;
    padding: 2rem;

    border-radius: 20px;

    box-shadow: 0 0 15px #ccc;

    transition: 0.3s;
}

.card__header {
    margin-bottom: 0.6rem;
}

.card__header img {
    width: 100%;
    height: 10rem;

    border-radius: 50%;

    box-shadow: 0 0 10px #ccc;
}

.card__header h3 {
    font-size: 2rem;
    font-weight: bold;
}

.card__body p span {
    font-weight: bold;
}

.card:hover, .card__header img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--primary-color-400);
}