header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: #65ca85; */
    background-color: var(--primary-color);


    padding: 10rem 6rem;
}

header h1 {
    font-size: clamp(1.2rem, 5vw, 3rem);
    color: #fdfdfd;

    transition: 0.3s;

}

header h1:hover {
    text-shadow: 0 0 25px #fff;
    transform: scale(1.05);
}

header p {
    color: #fdfdfd;
    font-size: clamp(.5rem, 5vw, 1.5rem);
}